# {{ ansible_managed }}

{% for item in routes.values() %}
protocol static static_bgp {
  route {{ item.ipaddress | indent(2) -}}:{{ item.subnet | indent(2) }} via {{ item.gateway | indent(2) -}};
}
{% endfor -%}

