# {{ ansible_managed }}

{% for ipaddress, subnet, route in item.bgp_static_configs.items() %}
protocol static static_bgp {
  route {{ ipaddress | indent(2) -}}:{{ subnet | indent(2) -}} via {{ route | indent(2) -}}
}
{% endfor %}
