# {{ ansible_managed }}

protocol static static_bgp {
{% for item in routes.values() %}
  route {{ item.ipaddress | indent(2) -}}:{{ item.subnet | indent(2) }} via "{{ bird_protocols_direct_device | indent(2) -}}";
{% endfor -%}
}
