# {{ ansible_managed }}

function avoid_crappy_prefixes()
{
  if net.len < 8 then return false;
  if net.len > 24 then return false;
  return true;
}

function is_self_net() {
  return net ~ {{ bird_ipv4_cidr }};
}

function is_valid_network_v6() {
  return net ~ [
    fd00::/8{44,64} # ULA address space as per RFC 4193
  ];
}

function is_self_net_v6() {
  return net ~ {{ bird_ipv6_cidr }};
}

function is_valid_network() {
  return net ~ [
    168.210.2.2/32, # dnscache1.is.co.za Anycast
    196.14.239.2/32 # dnscache2.is.co.za Anycast
  ];
}