# {{ ansible_managed }}

filter default_gw_filter {
  if net = 0.0.0.0/0 then reject;
}

function avoid_crappy_prefixes()
{
  if net.len < 8 then return false;
  if net.len > 24 then return false;
  return true;
}