# {{ ansible_managed }}

log syslog { info, remote, warning, error, auth, fatal, bug };
log "{{ bird_syslog_location }}" { debug, remote, trace };

router id {{ bird_router_id }};

include "/etc/bird/functions.conf";
include "/etc/bird/filters.conf";


protocol device {
    scan time 10;
}

roa4 table r4;
roa6 table r6;

protocol static {
    roa4 { table r4; };
    include "/etc/bird/roa_r4.conf";
};

protocol static {
    roa6 { table r6; };
    include "/etc/bird/roa_r6.conf";
};

protocol kernel {
    scan time 20;
    ipv4 {
        import filter default_gw_filter;
        export filter kernel_export_ipv4;
    };
}

protocol kernel {
    scan time 20;
    ipv6 {
        import filter default_gw_filter;
        export filter kernel_export_ipv6;
    };
}

include "/etc/bird/peers/*.conf";