protocol bgp {
  description "{{ bird_bgp_description_1 }}";
  local as {{ bird_local_as_1 }};
  neighbor {{ bird_neighbor_address_1 }} as {{ bird_neighbor_as_1 }};
  multihop;
  graceful restart;
  export all;
}