# {{ ansible_managed }}

protocol bgp {{ bgp_friendly_name }} {
  description "{{ bgp_description }}";
  local as {{ bgp_local_asn }};
  neighbor {{ bgp_neighbor_ipaddress }} as {{ bgp_neighbor_asn }};
  path metric 1;
  import all;
  graceful restart;
  export where proto = "static_bgp";
}