# {{ ansible_managed }}

log "{{ bird_syslog_location }}" all;
log syslog all;

router id {{ bird_router_id }};

include "/etc/bird/filters.conf";
include "/etc/bird/functions.conf";

protocol device {
    scan time 10;
}

{% if bird_ipv4_enabled is defined %}
protocol kernel {
    scan time 20;

    ipv4 {
        import default_gw_filter;
        export kernel_export_ipv4;
    };
}
{% endif %}

{% if bird_ipv6_enabled is defined %}
protocol kernel {
    scan time 20;
    
    ipv6 {
        import default_gw_filter;
        export kernel_export_ipv6;
    };
}
{% endif %}

include "/etc/bird/peers/*.conf";