# {{ ansible_managed }}

{% if bird_bgp_rr_enabled == true %}
{% for item in rr.values() %} 
protocol bgp {{ item.bird_friendly_name }} {
  local as {{ item.bird_local_as }};
  path metric 1;
{% if bird_ipv4_enabled is defined %}
 ipv4 {
   multihop;
   rr client;
   connect retry time 10;
   hold time 30;
   graceful restart;
   neighbor {{ item.bird_neighbor_ipaddress_ipv4 }} as {{ item.bird_neighbor_as_ipv4 -}};
   import filter bgp_import_ipv4;
   export bgp_import_ipv4;
   source address {{ ansible_default_ipv4['address'] }};
   add paths on;
   connect delay time 2;
   connect retry time 5;
   error wait time 5,30;
 };
  {% endif %}
  {% if bird_ipv6_enabled is defined %}
  ipv6 {
    multihop;
    rr client;
    connect retry time 10;
    hold time 30;
    graceful restart;
    neighbor {{ item.bird_neighbor_ipaddress_ipv6 }} as {{ item.bird_neighbor_as_ipv6 -}};
    import filter bgp_import_ipv6;
    export bgp_export_ipv6;
    source address {{ ansible_default_ipv6['address'] }};
    add paths on;
    connect delay time 2;
    connect retry time 5;
    error wait time 5,30;
  };
  {% endif %}
}
{% endfor %}
{% endif %}