# {{ ansible_managed }}

log "{{ bird_syslog_location }}" all;
log syslog all;

router id {{ bird_router_id }};

include "/etc/bird/functions.conf";
include "/etc/bird/filters.conf";
include "/etc/bird/templates/*.conf";
include "/etc/bird/peers/*.conf";
