# {{ ansible_managed }}

filter default_gw_filter 
{
  if net = 0.0.0.0/0 then reject;
}

filter bgp_import_ipv4 
{
if ! (avoid_martians_ipv4()) then reject;
if ! (avoid_crappy_prefixes()) then reject;
}

filter bgp_import_ipv6 
{
  if ! (avoid_martians_ipv6()) then reject;
  if ! (avoid_crappy_prefixes()) then reject;
  else reject;
}

filter bgp_export_ipv4 
{
  if is_valid_network() then accept;
  if avoid_crappy_prefixes() then return false;
  else reject;
}

filter bgp_export_ipv6 
{
  if is_valid_network_v6() then accept;
  else reject;
}

filter kernel_export_ipv4 
{
  if source = RTS_STATIC then reject;
  krt_prefsrc = {{ ansible_default_ipv4['address'] }};
  accept;
}

filter kernel_export_ipv6 
{
  if source = RTS_STATIC then reject;
  krt_prefsrc = {{ ansible_default_ipv6['address'] }};
  accept;
}