# {{ ansible_managed }}

protocol bgp {
  description "{{ bgp_description }}";
  local as {{ bgp_local_asn }};
  neighbor {{ bgp_neighbor_ipaddress }} as {{ bgp_neighbor_asn }};
  import all;
  graceful restart;
  export where proto = "static_bgp";
}